.cardTrip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    border: 2px black solid;
    border-radius: 33px ;
}

.imgCard {
    width: 300px;
}

.buttonDelete {
    background-color: #f44336; 
    color: white;
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.buttonDelete:hover {
    background-color: #d32f2f;
}